# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Environment Variables
.env

# IDEs
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini

# App Specific
backend/logs/
database/*.log
node_modules/
